<p>points works!</p>

<div class="pointiki">
<div class="labels">
  <label>X:</label>
  <label>Y:</label>
</div>


<div *ngFor="let pointForm of pointsForm; let i = index" [formGroup]="pointForm">
  <div class="point">
    {{ i + 1 }}:
    <div>
      <input type="number" formControlName="x"/>
      <div *ngIf="pointsForm[i].controls['x'].invalid ">
        <div class="alert">не норм х((</div>
      </div>
    </div>


    <div>
      <input type="number" formControlName="y">
      <div *ngIf="pointsForm[i].controls['y'].invalid ">
        <div class="alert">не норм у((</div>
      </div>
    </div>

    <button (click)="removePoint(i)">-</button>


  </div>
</div>
<button (click)="addPoint()">+</button>


<button type="submit" [disabled]="!checkPoints() " (click)="sendPoints()">интерполяция!</button>
</div>
